.row {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px;
}

a {
  color: rgba(200, 0, 0);
  text-decoration-line: none;
}

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button.battle {
  background: rgb(200, 0, 0) !important;
  margin-top: 50%;
}

.button.small {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 15px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 80%;
  text-align: center;
}

.column label, span {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.column img {
  border-radius: 50%;
  width: 250px;
}

.column p {
  font-size: 30px;
  font-weight: 200;
}